@import "tailwindcss";

:root {
  --black: #222222;
  --white: #e6e6e6;
  --gray: #3a3a3a;
  --indigo: #7c86ff;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--white);
  color: var(--black);
}

* {
  font-family: inherit;
}

.text-gradient {
  background: var(--black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#link-style {
  width: fit-content;
  font-weight: 600;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
}

#link-style:hover {
  border-bottom: 2px solid var(--indigo);
}

#link-style:focus,
#link-style.link-active {
  border-bottom: 2px solid var(--indigo);
}
