@import "tailwindcss";

:root {
  --white: #cacaca;
  --gray: #707070;
  --gradient: linear-gradient(to right, #5094d3, #2f7bb9);
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(24, 24, 24);
  color: var(--white);
}

* {
  font-family: inherit;
}

.text-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bg-gradient {
  background: var(--gradient);
}

#link-style {
  width: fit-content;
  font-weight: 600;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
}

#link-style:hover {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #5094d3, #2f7bb9) 1;
}

#link-style:focus,
#link-style.link-active {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #5094d3, #2f7bb9) 1;
}
